@import '../../commons/mixin';
body {
  background: $grey-bg-color;
}
.myinfo {
  // background: $grey-bg-color;
  .photo-title{
    color: $color-grey;
    padding: 0.26666666666666666rem;
  }
  .upload {
    margin-left: 0.26666666666666666rem;
    padding-bottom: 0.26666666666666666rem;
    img {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
  .mint-actionsheet-listitem {
    border-color: $border-color;
    height: 1.3333333333333333rem;
    line-height: 1.3333333333333333rem;
    @include font-dpr(18px);
  }
  .my-avatar {
    width: 0.9333333333333333rem;
    height: 0.9333333333333333rem;
    border-radius: 50%;
  }
}
