@import '../../commons/mixin';
.my-name {
  background: $color-white;
  .textwrapper{
    background: $grey-bg-color;
    padding: 0.26666666666666666rem;
    position: relative;
    @include font-dpr(15px);
    .check-length {
      position: absolute;
      right: 0.28rem;
      top: 2.1rem;
      color: $color-grey;
    }
  }
  .textarea {
    appearance: none;
    background: $grey-bg-color;
    width: 100%;
    height: 2.1333333333333333rem;
    line-height: 1.6;
    border: none;
    outline: 0;
    resize: none;
    color: #999999;
    @include font-dpr(15px);
  }
}
