@import "../../commons/mixin";
.std-card-content {
  padding-top: 1.7333333333333334rem;
  @include font-dpr(15px);
  color: $color-grey;
  text-align: center;
  .std-title {
    font-size: 0.4rem;
  }
  .std-detail-title{
    padding: 0.4rem 0 0.13333333333333333rem;
  }

  .ex-card-img {
    display: block;
    width: 6.746666666666667rem;
    height: 4.8533333333333335rem;
    margin: 0.6666666666666666rem auto 0.13333333333333333rem;
  }
}
