$color-green: #09bb07;
$color-black: #000;
$color-white: #fff;
$color-grey: #999999;
$border-color: #d9d9d9;

@mixin font-dpr($font-size){
  font-size: $font-size;
  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }
  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}
