$color-green: #09bb07;
$color-black: #000;
$color-white: #fff;
$color-grey: #999999;
$color-orange: #ff8604;
$color-red: #ed2b4c;
$color-blue: #0d79f3;
$border-color: #dddddd;


$grey-bg-color: #f5f5f5;
$white-bg-color: #fff;


@mixin font-dpr($font-size){
  font-size: $font-size;
  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }
  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}
