@import "../commons/mixin";
.my-checklist {
  .my-checklist-wrapper {
    border-bottom: 1px solid $border-color;
    width: 100%;
    background: $color-white;
    box-sizing: border-box;
    color: $color-black;
    min-height: 1.3333333333333333rem;
    line-height: 1.3333333333333333rem;
    overflow: hidden;
    @include font-dpr(15px);
  }
  .my-checklist-label {
    display: inline-block;
    padding-left: 0.26666666666666666rem;
    width: 100%;
  }
  .my-checkbox {
    position: absolute;
    right: 0.26666666666666666rem;
    .my-checkbox-input {
      display: none;
      &:checked {
        + .my-checkbox-core {
          background-image: url(/static/img/check-selected.png);
          &::after {
            border-color: $color-white;
          }
        }
      }
      &[disabled] + .my-checkbox-core {
        background-color: $color-grey;
      }
    }
    .my-checkbox-core {
      display: inline-block;
      background-image: url(/static/img/check_normal.png);
      background-size: cover;
      position: relative;
      width: 0.6666666666666666rem;
      height: 0.6666666666666666rem;
      vertical-align: middle;
    }
  }
}
