@import "../commons/mixin";

.my-header {
  align-items: center;
  background-color: $color-white;
  box-sizing: border-box;
  display: flex;
  height: 1.3333333333333333rem;
  padding: 0 0.26666666666666666rem;
  line-height: 1;
  .is-left {
    text-align: left;
  }
  .is-right {
    text-align: right;
  }
  position: relative;
  text-align: center;
  white-space: nowrap;
  border-bottom: 1px solid $border-color;
  .my-header-title {
    text-align: center;
    width: 100%;
    color: $color-green;
    @include font-dpr(16px);
  }
  .my-header-forward {

  }
  &.is-fixed {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
