@import "../commons/mixin";
.my-navbar {
  display: flex;
  text-align: center;
  height: 1.3333333333333333rem;
  line-height: 1.3333333333333333rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  &.is-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .my-nav-item {
    display: block;
    flex: 1;
  }
  .my-nav-item.is-selected {
    background: $color-green;
    color: $color-white;
  }
  .my-nav-item-label {
    color: inherit;
    @include font-dpr(16px);
  }
}
