.pre-radio-input {
  display: none;
}
.pre-radio-model{
  float: left;
  width: 1.6rem;
  height: .8rem;
  line-height: .8rem;
  margin-left: 0.2rem;
  border: 1px solid #999;
  text-align: center;
}
.pre-radio-label{
  width: 1.6rem;
  height: .8rem;
}
