@import "./commons/mixin";
*{
  margin: 0;
  padding: 0;
}
html, body {
  font-family: "Microsoft YaHei";
  background-color: $grey-bg-color;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul{
  list-style: none;
}
.red-title {
  color: $color-red;
}
.green-title {
  color: $color-green;
}
.grey-title {
  color: $color-grey;
}
.pre-search-list{
  margin-top: 2.6666666666666665rem;
}

.default-pages {
  padding-top: 2.6666666666666665rem;
  text-align: center;
  color: $color-grey;
  @include font-dpr(15px);
  a{
    display: block;
    width: 2.6666666666666665rem;
    height: 0.6666666666666666rem;
    line-height: 0.6666666666666666rem;
    background: $color-green;
    margin: 0.26666666666666666rem auto;
    color: $color-white;
    border-radius: 4px;
  }
}
.upload-box {
  width: 6.666666666666667rem;
  height: 4.666666666666667rem;
  // line-height: 4.666666666666667rem;
  // text-align: center;
  border:1px solid #ddd;
  background: $color-white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto 0.26666666666666666rem;
  position: relative;
  .box-add-arrow {
    width: 1.4rem;
    height: 0.1rem;
    background: $border-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:after {
      content: '';
      width: 0.1rem;
      height: 1.4rem;
      background: $border-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.mint-msgbox-wrapper {
  .mint-msgbox {
    width: 92%;
    border-radius: 0.3rem;
    .mint-msgbox-message{
      @include font-dpr(15px);
      color: $color-black;
    }
    .mint-msgbox-content{
      border: none;
      height: 1rem;
      line-height: 1rem;
      vertical-align: middle;
      padding: 0.8rem 0.5rem;
    }
    .mint-msgbox-btns {
      height: 0.9333333333333333rem;
      line-height: 0.9333333333333333rem;
      width: 7rem;
      margin: 0 auto;
      margin-bottom: .5rem;
      display: block;
      .mint-msgbox-btn {
        line-height: 0.9333333333333333rem;
        color: #fff;
        width: 3.3rem;
        display: inline-block;
        margin-left: 0.3rem;
        border-radius: 5px;
        &:first-child{
          margin-left: 0;
        }
        @include font-dpr(15px);
        &.mint-msgbox-cancel {
          background: $color-black;
        }
        &.mint-msgbox-confirm {
          background: $color-green;
        }
        &.noconfirm {
          margin-left: 1.8rem;
        }
      }
    }
  }

}
