@import "./commons/mixin";
.page-content {
  width: 100%;
  a{
    display: block;
    float: left;
    width: 50%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    @include font-dpr(15px);
    font-weight: bold;
    color: #000;
    // border-right: 1px solid #d9d9d9;
  }
}

.mypage-btn {
  position: absolute;
  right: 0.4rem;
  top: 0;
  width: 2rem;
  height: 0.6666666666666666rem;
  line-height: 0.6666666666666666rem;
  background: #ed2b40;
  text-align: center;
  color: #fff;
  @include font-dpr(12px);
  outline: 0;
  border: none;
}
