@import "./commons/mixin";
.personalInfo {
  height: 100%;
  background: #f5f5f5;
  .info-list{
    .info-title {
      @include font-dpr(12px);
      color: #999999;
      line-height: 0.6666666666666666rem;
      padding-left:0.26666666666666666rem;
    }
    .info-content {
      color: $color-green;
      @include font-dpr(15px);
      padding-left:0.26666666666666666rem;
      background: #fff;
      line-height: 100px;
    }
  }
}
.mint-tab-item-label a{
  display: block;
  width: 100%;
  height: 1.3333333333333333rem;
  position: absolute;
  bottom: 0;
}
.complaints-btn {
  border: 0;
  appearance: none;
  background: #fff;
  color: #000;
  @include font-dpr(18px);
  outline: 0;
}
